body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px 20px;
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  height: 580px;
  width: 280px;
  padding: 10px;
  background-color: #ebfafd;
}
.single-product:hover {
  box-shadow: 4px 4px 7px rgba(200, 200, 200, 0.856);
  transform: scale(1.04);
  transition: transform 0.2s ease-out;
  background-color: #f8f9fa !important;
}

.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  background-color: #edf5db;
  width: 350px;
  border: 1px solid rgba(72, 77, 72, 0.897);
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}
.price {
  color: #cd2665;
}
.icon {
  color: rgb(247, 192, 74);
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid rgb(172, 216, 172); */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
